@import "tailwindcss";

/* .clip-path-header-curve {
  clip-path: ellipse(150% 100% at 50% 100%);
} */

:root{
  --primary: '#DC2626';
}

.slick-slide {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* globals.css */
@keyframes pulse {
  0%, 100% { opacity: 1 }
  50% { opacity: 0.5 }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}